* { box-sizing: border-box; }
html { height: 100%; }
body {
	padding: 0px;
	margin: 0px;
}

.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.header {
	flex: 0 0 40px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: grey;
}

.nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.nav button {
	color: black;
	padding: 0px 5px 0px 5px;
	height: 100%;
	min-width: 50px;
	margin: none;
	box-shadow: none;
	background-color: lightgray;
	border: none;
}

.nav button:hover
{
	cursor: pointer;
	background-color: white;
}

.footer {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: grey;
	width: 100%;
}

.main {
	flex: 1;
	width: 100%;
	background: lightcyan;
	overflow-y: auto;
}

.dynamic-grid {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	background-color: transparent;
	padding: 10px;
	justify-content: start;
	transition: all 1s;
}

.dynamic-grid-elem {
	width: 90px;
	height: 90px;
	background-color: skyblue;
	padding: 10px;
}

.dynamic-grid-elem-start button {
	border: none;
	margin: none;
	box-shadow: none;
	background: transparent;
	color: black;
	font-weight: bolder;
	font-size: 32px;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.dynamic-grid-elem-doc {
	text-align: center;
}

.dynamic-grid-elem-doc input {
	width: 100%;
	border:none;
	margin: none;
}

.dynamic-grid-elem-doc input:read-only {
	background: transparent;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	transform: translateX(-100%);
}

.sidenav.open 
{
	transform: translateX(0%);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav button {
	position: absolute;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
	width: 200px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}